.filled svg {
	fill: var(--primary);

	transition: all 0.1s;
}

.star {
	display: inline-block;
}

.star svg {
	margin-right: 5px;
}

.editable {
	cursor: pointer;
}

.display {
	display: inline-block;
}

.error svg {
	stroke: var(--red);
}

.ratingWrapper {
	position: relative;
}

.errorMessage {
	position: absolute;
	bottom: -17px;
	left: 2px;

	white-space: nowrap;

	color: var(--red);
}
